.button.yes {
    background-color: black;
    color: white;
}

.button.no {
    background-color: yellow
}

.button {
    font-size: 28px;
    font-family: "Helvetica", "times new roman", "sans-serif";
}